

@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.menu img {
    max-width: 100%;
    height: 28px;
    
}

header {
    background: url(imagens/image-header.jpg) center center / cover no-repeat;
    display: block;
    padding: 0px 18px;
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    align-items: center;
    min-height: 80vh;
    position: relative;
    height: 100vh;
}

.menu {
    display: flex;
    padding: 18px;
    width: 100%;
    align-items: center;
    
}

.nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90%;
}

.menu ul {
    display: flex;
    gap: 50px;
    align-items: center;
}

.menu li {
    display: inline-block;
    color: #fff;
    align-items: center;
    font-weight: 500;
    font-size: 1.1em;
    cursor: pointer;
}



.menu .contato:hover {
    background-color: transparent;
    color: white;
    transition: 0.2s ease-in-out;
    transform: translate(-0px, -2px);
}

ul .contato {
    background-color: white;
    color: black;
    font-family: "Fraunces", sans-serif;
    font-weight: 700;
    border-radius: 5rem;
    padding: 18px;
    text-transform: uppercase;
    font-size: 0.93em;
}

.titulo {
    display: flex;
    flex-direction: column;
    letter-spacing: 5px;
    color: #fff;
    text-align: center;
    padding-top: 75px;

}

.titulo h1 {
    font-weight: 800;
    font-family: "Fraunces", sans-serif;
    font-size: 3.3em;
}

.seta {
    padding-top: 75px;

}

.txt-img {
    display: flex;
    align-items: center;
    width: 100%;
    position: relative;
}

.imagem-ovo {
    width: 50vw;
    height: 750px;
    position: relative; /* Necessário para que o posicionamento absoluto funcione */
    overflow: hidden;   /* Esconde partes da imagem que ultrapassarem a div */
}

.imagem-ovo img {
    position: absolute;
    left: 0;
    width: 100%;
    height: auto; /* Mantém proporção da imagem */
}

.texto {
    width: 750px;
    height: 500px;
    margin-left:100px ;
}

.teste {
    width: 50vw;
    margin-top: 120px ;
}


.texto h2 {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 2.5em;
    color: #23303E;
    padding-left: 30px;

}

.texto p {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 1.05em;
    color: #818498;
    padding: 30px 0px 30px 30px;
}

.imagem-taca {
    width: 49.7vw;
    height: 750px;
    position: relative;
}

.imagem-taca img {
    position: absolute;
    height: 100%; /* Mantém proporção da imagem */
    width: 100%;
}

.texto2 {
    width: 750px;
    height: 500px;
    margin-left:100px ;
    padding-top: 120px;
}

.texto2 h2 {
    font-family: "Fraunces", sans-serif;
    font-weight: 900;
    font-size: 2.5em;
    color: #23303E;
    padding-left: 30px;

}

.texto2 p {
    font-family: "Barlow", sans-serif;
    font-weight: 500;
    font-size: 1.05em;
    color: #818498;
    padding: 30px 0px 30px 30px;
}

p.learn  {
    font-family: "Fraunces", sans-serif;
    color: #23303E;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.87em;
}
.cer-lar {
    display: flex;
    width: 100%;

}
.cereja {
    background: url(imagens/cereja.png) no-repeat top center / cover;
    width: 49.7vw;
    height: 550px;
    position: relative;
    text-align: center;
    
}

.cereja img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%; /* Mantém proporção da imagem */
    
}

.laranja{
    background: url(imagens/laranja.png) no-repeat top center / cover;
    text-align: center;
    width: 49.5vw;
    height: 550px;
    position: relative;

}

.laranja img {
    position: absolute;
    width: 100%;    
    height: 100%; /* Mantém proporção da imagem */

}

.txt-dentro {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
    top: 75%;

    
    
}

.txt-dentro h2 {
    font: 900 1.6em "Fraunces", sans-serif;
    color: #23303E;
}

.txt-dentro p {
    padding-top: 30px;
    font: 600 1.05em "Barlow" , sans-serif  ;
    color: #25564B;

}


